@import 'bootstrap/dist/css/bootstrap';

.nav-link{

  color: white !important
}

.navbar-brand{
  color: white !important
}

.search-area{

padding-top: 50px;
}

.no-right-padding{
  padding-right:0px !important;

}

.no-left-padding{
  padding-left:0px !important;
}

.results-block{
  display: inline-block;
}

.logout{
  margin-right: 10px !important;
}

.full-name{

  margin-top:3.5%;
  padding-right:5px;

}
